<div class="container-fluid">
    <!-- inicia nosotros-->
    <div id="home" class="row aling-items-center hero">
        <div class="col-lg-3 offset-lg-7">
            <h1>Bodas Soñadas</h1>
            <p>Hacemos realidad todo lo que soñaste y más...</p>
        </div>
    </div>
</div>
<div class="row my-3">
    <div id="Eventos" class="col-md-5 offset-md-2 py-3 scroll_section">
        <h2>Eventos</h2>
        <ul class="lista-eventos">
            {{#each novedades}}
            <li><a href="#" data-bs-toggle="modal" data-bs-target="exampleModal{{id}}"><img src="images/GyL_182.jpg">{{titulo}} </a></li>
            {{/each}}        
        
        </ul>
    </div><!-- cierra eventos -->
    <!-- inicio modal -->
    {{#each novedades}}
    <div class="modal fade" id="exampleModal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5" id="exampleModalLabel">{{titulo}}</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>{{subtitulo}}</h3>
                    <p>{{cuerpo}}</p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    <!-- fin modal -->
    <div>
        CONTANOS TU EXPERIENCIA
    </div>
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="images/GyL_003.jpg" class="d-block w-100" alt="20">
                <div class="carousel-caption d-none d-md-block">
                    <h5>La mejor experiencia del mundo</h5>
                    <p>Mariana</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="images/GyL_134.jpg" class="d-block w-100" alt="20">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Son los mejores, Gracias</h5>
                    <p>Florencia</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/Deco 1_.jpg" class="d-block w-100" alt="20">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Estuvieron en cada detalle</h5>
                    <p>Jose</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
</div><!-- cierra lo de contanos tu experiencia-->
</div>
<!-- cierra fila de eventos y contanos tu experiencia -->
<!-- inicio historia -->
<div id="Historia" class="row aling-items-center py-4 scroll_section">
    <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
        <img src="images/GyL_348.jpg" alt="historia 1" class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 d-none d-sm-block">
        <img src="images/GyL_363.jpg" alt="historia 2" class="img-fluid">
    </div>
    <div class="col-12 d-sm-none">
        <img src="images/Deco 63_.jpg" alt="historia 3" class="img-fluid">
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
        <h2>Historia</h2>
        <p>Todo comenzo por un sueño y luego se transformo en un proyecto familiar, formamos un equipo 
            para poder cubrir todas los deseos de nuestros clientes, cada evento es un desafio a cumplir </p>
    </div>

</div>
<!-- cierra div con id historia -->
<!-- inicia nosotros-->
<h2>Nosotros</h2>
<div id="Nosotros" class="row row-cols-1 row-cols-md-3 g-3 staff scroll_section">
    <div class="col">
        <div class="card">
            <img src="images/nosotros03.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Carlos</h5>
                <p class="card-text">Ambientador integral, crea la propuesta del evento, se encarga de la coordinación y
                    el desarrollo general.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="images/nosotros01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mariana</h5>
                <p class="card-text">Florista, selecciona flores de estacion y realiza los arreglos florales.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="images/nosotros04.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Nico</h5>
                <p class="card-text">Dj, es el encargado de generar desde lo musical, los climas correspondientes a cada
                    etapa del evento.</p>
            </div>
        </div>
    </div>
</div>
<!-- cierra div nosotros-->
<!-- inicio mapa + formulario-->
<div id="conocenos" class="row py-4 scroll_section">
    <div class="col-md-4 offset-md-2">
        <h2>Visitanos</h2>
        <div class="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3301.2486791689435!2d-58.96091722485156!3d-34.16555913448959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb7236d3357317%3A0x2ed4190d15dec298!2sGral.%20Belgrano%20469%2C%20Campana%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1688012686402!5m2!1ses!2sar"></iframe>
        </div>
    </div><!-- cierra div con id visitanos-->

    <div class="col-md-4 mt-4" mt-sm-0>
        <h2>Contactanos</h2>
        <form class="rown g-3" action="/" method="post">
            <div class="row g-3">
                <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" name="Nombre">
            </div>
            <div class="row g-3">
                <input type="text" class="form-control" placeholder="Fecha" aria-label="Fecha" name="Fecha">
            </div>
             <div class="row g-3">
                <input type="text" class="form-control" placeholder="Evento" aria-label="Evento" name="Evento">
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">Email</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="ejemplo@gmail.com" name="Email">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
        <p>{{Messagee}}</p>


    </div><!-- cierra div con id contactanos->
     <!-- fin mapa + formulario-->